body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1.title {
  margin-bottom: 40px;
}

.custom-button {
  background-color: #33383d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  width: auto;
}

.custom-button:hover {
  background-color: #98a1aa;
  color: #fff;
}

button {
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container div {
  margin-bottom: 20px;
}

label {
  font-weight: normal;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input {
  margin: 30px;
}

button[type="submit"] {
  width: 60%;
  padding: 10px;
  background-color: #33383d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #98a1aa;
}

.table-style {
  width: 100%;
  border-collapse: collapse;
  margin-top: 70px;
}

.table-style th,
.table-style td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-style th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}
